/*
fieldset { 
	background: #C4E4F5;
	border-color: blue; 
	border-width: 0.1em;
}

legend {
	border:1px dashed blue;
	background: #C4E4F5;
}
*/
#nav {
    margin:0;
    padding:0;
    list-style:none;
}   
 
#nav li {
    float:left;
    display:block;
    /* Grandezza menu */
       width:200px; 
/*      width:25%; */
    background:#BBDDED;
    position:relative;
    z-index:500;
    margin:0 1px;
    -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
}
#nav li.first {
        -moz-border-radius:5px 0 0 5px;
        -webkit-border-radius:5px 0 0 5px;
    border-radius:5px 0 0 5px;
    }
#nav li.last {
        -webkit-border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
        border-radius:0 5px 5px 0;
    }
#nav li li.last {
        -webkit-border-radius:0 0 5px 5px;
    -moz-border-radius:0 0 5px 5px;
        border-radius:0 0 5px 5px;
    }
#nav li a {
    display:block;
    padding:8px 5px 0 5px;
    font-weight:700;
    height:auto;
    text-decoration:none;
    text-align:center;
    color:#333;
}
#nav li a:hover {
    color:white;
}
#nav li li:hover {
    -webkit-transform: translate(+10px,0);
    }
#nav a.selected {
    color:#C00;
}
#nav ul {
    position:absolute;
    left:0;
    display:none;
    margin:0 0 0 -1px;
    padding:0;
    list-style:none;
     vertical-align: middle;
}
#nav ul li {
/*      Grandezza Menu */
	width:200px;
/*      width:25%; */
    float:left;
    border-top:1px solid #fff;
    vertical-align: middle;
}
#nav ul a {
    display:block;
    height:auto;
    padding: 8px 5px;
    color:#666;
     vertical-align: middle;
}
